.boxes
  text-align center
  .box
    width 50%
    margin 20px
    display inline-block
    padding 20px
    background #fff
    box-shadow 0 0 2px #cdcdcd


.boxesnext
  text-align: center;
  display: flex;
  height: 400px;

  .box
    width 50%
    margin 20px
    display inline-block
    padding 20px
    background #fff
    box-shadow 0 0 2px #cdcdcd