.button
  max-width 200px
  background #bfbfbf
  border none
  box-shadow 0 0 2px #555
  padding 10px
  text-align center
  cursor pointer
  font-weight bold
  &:active
    box-shadow 0 0 2px #222
  &:hover
    background darken(#bfbfbf, 10%)
  &.wide
    max-width 300px
    padding 10px 30px 10px 30px
  &.blue
    background blue
    color #fff
    &:hover
      background darken(blue, 10%)
  &.red
    background red
    color #fff
    &:hover
      background darken(red, 10%)
  &.green
    background green
    color #fff
    &:hover
      background darken(green, 10%)
