.spacer
  height 100px
.spacer-50
  height 50px
.spacer-75
  height 75px
  overflow hidden
.spacer-200
  height 200px
.inline-block
  display inline-block


.line
  width 80%
  margin-left 10%
  height 1px
  background #bebebe
  box-shadow 0 0 1px #cdcdcd

.create
  display none
.create-button
  &.active
    box-shadow 0 0 1px black inset
    ///&:before
    //  content " < > "
