// colors
light-grey = #efefef

body
  background light-grey


@import "./includes/reset"
@import "./includes/buttons"
@import "./includes/header"
@import "./includes/boxes"
@import "./includes/extras"
@import "./includes/inputs"

.main
  width 100%
  .content
    width 80%
    margin-left 10%
