doctype html
html
	head
		title Index
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery-1.11.0.min.js')
		script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js")
		script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
		script(src='js/js.js')
		link(href='css/css.css' rel='stylesheet' type='text/css')

		if user
			script.
				var user = "#{user}"
				var token = "#{token}"


	body
		#back
			header
				span.headermessage 
						if user
							|Welcome #{user}
						else
							|Login
			#main
				#backgroundDarkener
				#login
					form#loginform
						#loginoutput
						| Username: 
						input(type='textbox', name='username' id='username')
						br
						| Password: 
						input(type='password', name='password' id='password')
						br
						input#loginbutton(type='button', name='login', value='Login')

				if user
					input#join(type="button" value="Join A Room!")
				else
					span Please Log In To Play!

				if user
					form.makeform
						input#make(type="button" value="Give Me A Room!")

						#makesettings
							| Settings
							img.arrow(src='images/down.png')
							.eachsetting
								span.label Password: 
								input.password.settings(type="textbox" name="passwordinput")
//				
			form.joinform
					p.message 
						if user
							|Welcome #{user}

					


				
				if !user
					
//