doctype html
html
  include ./head
  body
    .main
      .header
        .title #{title}
      .content

        .spacer-200
        .boxes
          .box
            a(href="/auth/facebook")
              .button.blue Login with facebook





