doctype html
html
  include ./head
  body
    .main
      .header
        .title #{title}
        .message
      .content
        h1.center Ready Up!
        .boxesnext
          .box
            #{user.user}
          .box



