doctype html
html
  include ./head


  body
    input.setup-user(type="text")
    button.setup-button Save
    //Dev purposes, to test interface
    input.check(type="checkbox")
    | Apply?
    .message
